<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>365 KPI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<h3 class="text-center">365 KPI</h3>
<h4 class="ml-2 mb-4">2021</h4>
{% for kpi_by_month in kpis_by_month %}
<p>
  <button class="navbar-toggler ml-4" type="button" data-toggle="collapse" data-target="#{{ kpi_by_month.month_id }}">
    ▸ {{ kpi_by_month.month }}
  </button>
</p>
<div class="collapse" id="{{ kpi_by_month.month_id }}">
  <div class="card card-body">

  <div class="row mt-2">
  {% for kpi in kpi_by_month.kpis %}
  <div class="col-4">
    <h2 class="h5 card-title ml-2">{{ kpi.spec_name}}</h2>
    <div class="card mb-4 ml-2" style="min-width: 36rem;">
      <div class="card-body">
          <div class="row"> <!-- new row added here -->
            <div class="col-md-4">
              <p class="card-text">Кол-во запросов</p>
              <p class="card-text">Реакций всего</p>
              <p class="card-text">Время решения ср.</p>
              <p class="card-text">Время решения %</p>
            </div>
            <div class="col-md-2">
              <p class="card-text">{{ kpi.kpis_of_spec.reqs_count }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.react_count }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.dec_time_avg }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.dec_time_perc }}</p>
            </div>
            <div class="col-md-4">
              <p class="card-text">Решено в срок</p>
              <p class="card-text">Реакций в срок</p>
              <p class="card-text">Время реакции ср.</p>
              <p class="card-text">Скорость реакции %</p>
            </div>
            <div class="col-md-2">
              <p class="card-text">{{ kpi.kpis_of_spec.dec_in_time }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.react_in_time_count }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.react_time_avg }}</p>
              <p class="card-text">{{ kpi.kpis_of_spec.react_speed_perc }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  {% endfor %}
  </div>

      <p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ kpi_by_month.general_info_id }}">
      ▸ Общая информация
      </button>
      </p>
      <div class="collapse" id="{{ kpi_by_month.general_info_id }}">
        <div class="col-4">
          <div class="card card-body">

            <div class="row">
            <div class="col-md-4">
              <p class="card-text">Запросов всего</p>
              <p class="card-text">Support Line</p>
              <p class="card-text">On-premise Line</p>
              <p class="card-text">Клиентов</p>
            </div>
            <div class="col-md-2">
              <p class="card-text">{{ kpi_by_month.general_info.reqs_count }}</p>
              <p class="card-text">{{ kpi_by_month.general_info.reqs_count_sup }}</p>
              <p class="card-text">{{ kpi_by_month.general_info.reqs_count_onprem }}</p>
              <p class="card-text">{{ kpi_by_month.general_info.clients_count }}</p>
            </div>
            </div>

          </div>
      </div>
      </div>

      <p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ kpi_by_month.companies_pool_id }}">
      ▸ Список запросов за месяц
      </button>
      </p>
      <div class="collapse" id="{{ kpi_by_month.companies_pool_id }}">
        <div class="col-4">
        <div class="card card-body">
          {% for company in kpi_by_month.companies %}
              {% if company.url_uid != '0' %}
              <a href="https://support.elma365.ru/_lines/{{ company.url_uid }}">{{ company.date_time }} - {{company.company }}<a>
              {% else %}
                  {{ company.date_time }} - {{ company.company }}<br>
              {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>

  </div>
</div>
{% endfor %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>